<section class="success" id="courses">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Courses Offered</h2>
      </div>
    </div>
    <table class="table table-striped" [mfData]="course_data" #mf="mfDataTable" [mfRowsOnPage]="5">
      <thead>
      <tr>
        <th style="width: 12%">
          <mfDefaultSorter by="name">Course Name</mfDefaultSorter>
        </th>
        <th style="width: 12%">
          <mfDefaultSorter by="email">Description</mfDefaultSorter>
        </th>
        <th style="width: 12%">
          <mfDefaultSorter by="age">Duration</mfDefaultSorter>
        </th>
        <th style="width: 12%">
          <mfDefaultSorter by="city">NoOfDays</mfDefaultSorter>
        </th>
        <th style="width: 12%">
          <mfDefaultSorter by="name">Coach</mfDefaultSorter>
        </th>
        <th style="width: 12%">
          <mfDefaultSorter by="email">Fee</mfDefaultSorter>
        </th>
        <th style="width: 12%">
          <mfDefaultSorter by="age">TimeSlot</mfDefaultSorter>
        </th>
        <th style="width: 15%">
          <mfDefaultSorter by="city">NoOfStudents</mfDefaultSorter>
        </th>
        <th style="width: 15%">
          <mfDefaultSorter by="city">AvailableSlots</mfDefaultSorter>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of course_data; let j=index" >
        <td bgcolor="#ff7f50">{{item.course_name}}</td>
        <td bgcolor="#ff7f50">{{item.description}}</td>
        <td bgcolor="#ff7f50">{{item.duration}}</td>
        <td bgcolor="#ff7f50">{{item.noOfDays}}</td>
        <td bgcolor="#ff7f50">{{item.Coach}}</td>
        <td bgcolor="#ff7f50">{{item.fee}}</td>
        <td bgcolor="#ff7f50">{{item.timeSlot}}</td>
        <td bgcolor="#ff7f50">{{item.noOfStudents}}</td>
        <td bgcolor="#ff7f50">{{item.availableSlots}}</td>
        <td><button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#enroll_Modal">Enroll</button></td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="4">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</section>




<!-- Contact Section -->
<section  id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Login</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
        <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
        <form name="sentMessage" id="sentMessage" novalidate>
          <div class="row control-group">
            <select id="select" data-target="#myModal">
              <option value="admin">Admin</option>
              <option value="student">Student</option>
            </select>
            <p class="help-block text-danger"></p>
          </div>

          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="name">Name</label>
              <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="email">Email Address</label>
              <input type="email" class="form-control" placeholder="Email Address" id="email" >
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="password">Password</label>
              <input type="password" class="form-control" placeholder="Password" id="password" required data-validation-required-message="Please enter your phone number.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <div class="row">
            <div class="form-group col-xs-12">
              <button type="button" class="btn btn-success btn-lg" (click)="check()">Send</button>
              <button type="button" id="btnExcel" class="btn btn-success btn-lg" (click)="add()" disabled>ADD Course</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
